<body>
	<div class="row">
		<div class="col 8 m6 right">
			<img id="arte" src="./assets/pecep_arte.png">
		</div>

		<div class="col 4 left row">
			<a routerLink="/inscrevase" class="waves-effect waves-light btn-large nav-button">Inscreva-se</a>
			<a routerLink="/conheca" class="waves-effect waves-light btn nav-button2">Conheça</a>
		</div>
	</div>

	<div class="row white">
		<div class="col s4 apresentacao">
			<div class="container">
				<span>O PECEP (Projeto de Ensino Cultural e Educação Popular) é um curso pré-vestibular comunitário que prepara alunos e alunas para o vestibular com baixíssimo custo.</span>
			</div>
			<a routerLink="/contato" class="waves-effect waves-light btn nav-button3">Fale Conosco</a>
		</div>
		<div class="col s3">
			<span>Destaques: </span>
			<div class="card small">
    			<div class="card-image waves-effect waves-block waves-light">
      				<img class="activator" src="./assets/selecao_aprovados.jpg">
    			</div>
    			<div class="card-content">
      					<span class="card-title activator grey-text text-darken-4">Aprovados 2018<i class="material-icons right">Veja!</i></span>
      					<p><a href="#">Saiba mais</a></p>
    			</div>
    			<div class="card-reveal">
      				<span class="card-title grey-text text-darken-4"><i class="material-icons right">Fechar</i>Aprovados 2018</span>
      				<p>Com grande alegria que vemos esses alunos incríveis aprovados!</p>
    			</div>
  			</div>
		</div>
		<div class="col s4 emBreve">
			<span>Mais destaques em breve!</span>
		</div>
	</div>
</body>