<body>
	<div class="container white z-depth-1">
		<h1>Conheça o PECEP:</h1>
		<div class="row">
			<div class="col 8 m5">
				<h2>O que é?</h2>
				<p><span id="negrito">O Projeto de Ensino Cultural Educação Popular (PECEP)</span> é uma ONG que oferece curso preparatório para o vestibular</p>
				<h2>Como surgiu?</h2>
				<p>O <span id="negrito">PECEP</span> surgiu em 2001 após o incidente do ônibus 174 no Rio de Janeiro. Os alunos da Escola Parque, que pegavam esse meio de transporte para chegar à escola, se indignaram e decidiram começar algo que pudesse mudar a realidade da comunidade a sua volta.</p>
				<h2>Para quem é?</h2>
				<p>O <span id="negrito">PECEP</span> é para estudantes que já concluíram ou estão frequentando o último ano do Ensino Médio ou equivalente e que desejam realizar as provas de acesso às universidades, mas que não têm condições de arcar com os custos dos cursos preparatórios particulares.</p>
				<h2>Quanto Custa?</h2>
				<p>Os <span id="negrito">alunos</span> contribuem com R$40 por mês e o material didático está incluído.</p>
				<h2>Como ingressar?</h2>
				<p>O processo seletivo acontece de dezembro a janeiro e os interessados devem se inscrever através do site do PECEP em </p>
				<h2>Quantas vagas oferece?</h2>
				<p>O <span id="negrito">PECEP</span> disponibiliza por ano duas turmas com 30 estudantes cada.</p>
			</div>
			<div class="col 8 m5">
				 <div class="video-container">
        			<iframe width="900" height="600" src="https://www.youtube.com/embed/OE27UNSkkW4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      			</div>
				<h2>Onde são as aulas?</h2>
				<p>O <span id="negrito">PECEP</span> funciona na <span id="negrito">Rua Marquês de São Vicente 355, Gávea</span> através de uma parceria com a Escola Parque.</p>
				<h2>Quando ocorrem as aulas?</h2>
				<p>As <span id="negrito">aulas</span> são de segunda a sexta de 18:30h às 22:30h e aos sábados de 8h às 13:30h.</p>
				<h2>Quais são as disciplinas oferecidas?</h2>
				<p>São oferecidas as disciplinas de Biologia, Química, Física, Matemática, Geografia, História, Português, Literatura, Redação, Argumentação, Filosofia, Sociologia, Espanhol, Inglês e Educação Física.</p>
				<h2>Quem são os professores?</h2>
				<p>Os <span id="negrito">professores</span> são todos voluntários, com experiência de atuação na área e passaram por um rigoroso processo seletivo.</p>
			</div>
		</div>
	</div>
</body>