body{
	background-color: #54a021;
	background-image: url(/assets/conheca.jpg/);
	background-size: 66%;
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: fixed; 
	overflow-x: hidden;
}

h1{
	font-size: 3.5em;
	font-family: 'Hind',sans-serif;
}
h2{
	font-size: 2em;
	font-family: 'Hind',sans-serif;
}
p{
	font-family: 'Hind',sans-serif;
}

.container{
	z-index: 0;
	margin-top: 60vh;
	margin-bottom: 20vh;
	padding-left: 8em;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

#negrito{
	font-weight: 600;
}

@media screen and (max-width: 1880px){
	body{
		background-color: #54a021;
		background-image: url(/assets/conheca.jpg/);
		background-size: 70%;
		background-repeat: no-repeat;
		background-position: top;
		background-attachment: fixed; 
		overflow-x: hidden;
	}
}
